.heading {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  line-height: 37.64px;
  letter-spacing: 0%;
  height: 38px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

#root {
  overflow: hidden;
}

.customborder {
  backdrop-filter: blur(11px);

  box-shadow: 0px -4px 4px 0px #00000040;
}
